/* TOC css3 numbering */

.unnumbered::before { content: none; }

#text-table-of-contents {
    counter-reset: toc-level-1;
}
#text-table-of-contents ul li:not(.unnumbered) {
    counter-increment: toc-level-1;
}

#text-table-of-contents ul li:not(.unnumbered):before {
    content: counter(toc-level-1, upper-roman) ". ";
}

#table-of-contents h2::before { content: none; }

#text-table-of-contents ul { list-style: none; }

/* Rest css3 numbering */

h1 {
    counter-reset: chapter;
}

body > div > div > h2::before {
    counter-increment: chapter;
    content: counter(chapter, upper-roman) ". ";
}

body > div > div.unnumbered > h2::before {
    content: none;
}
